@model IEnumerable<Ecom_Store.Models.FoodCourtModel>

@{
    ViewData["Title"] = "FetcFoodCourts";
    Layout = "~/Views/Shared/Admin_Header_Footer.cshtml";
}

<h1>FetcFoodCourts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodCourtName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodCourtLogo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodCourtName)
            </td>
            <td>
                    <img src="~/FoodCourtsLogo/@Html.DisplayFor(modelItem => item.FoodCourtLogo)" height="80px" width="80px" />
            </td>
            <td>
                <a asp-action="Editfoodcourt" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="DeleteFoodCourts" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
