@model IEnumerable<Ecom_Store.Models.ShopsModel>

@{
    ViewData["Title"] = "FetchShops";
    Layout = "~/Views/Shared/Admin_Header_Footer.cshtml";
}

<h1>FetchShops</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShopName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopLogo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShopName)
            </td>
            <td>
                    <img src="~/ShopsLogo/@Html.DisplayFor(modelItem => item.ShopLogo)" height="80px" width="80px" />
            </td>
            <td>
                <a asp-action="EditShop" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="DeleteShops" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
